{% extends "index.html" %}

{% block content %}
    <div class="input-group mb-2 mr-sm-2">
        <button type="button" class="btn btn-success" id="novo_produto" name="novo_produto" placeholder="Cadastrar Produto">Cadastrar Novo Produto</button>
    </div>
    <div id="popup" title="Editar Produto" style="display: none;">
        <p>Aguarde, carregando...</p>
    </div>
    {% if conteudo %}
        <div class="input-group mb-2 mr-sm-2">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="filtro_estoquezero" name="filtro_estoquezero">
              <label class="custom-control-label" for="filtro_estoquezero">Estoque zerado</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="filtro_estoquenaozero" name="filtro_estoquenaozero">
              <label class="custom-control-label" for="filtro_estoquenaozero">Estoque não zerado</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="filtro_apenasativos" name="filtro_apenasativos">
              <label class="custom-control-label" for="filtro_apenasativos">Apenas ativos</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="filtro_apenasinativos" name="filtro_apenasinativos">
              <label class="custom-control-label" for="filtro_apenasinativos">Apenas inativos</label>
            </div>
            <input type="hidden" name="lista_id" id="lista_id" value="{{ id_lista }}" />
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Filtro</div>
            </div>
            <input type="text" class="form-control" id="filtro" name="Filtro" placeholder="Procure por produto, produtor ou categoria">
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    {% if level_user >= level_write %}
                        <th>&nbsp;</th>
                    {% endif %}
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>Unidade</th>
                    <th>Produtor</th>
                    <th>Disponível Desde</th>
                    <th>Produtor</th>
                    <th>Comboio</th>
                    <th>Consumidor Consciente</th>
                    <th>Pré Comunidade</th>
                    <th>Livre Mercado</th>
                </tr>
            </thead>
            <tbody id="tabela_produtos">
                {% for p in conteudo %}
                    <tr>
                        {% if level_user >= level_write %}
                            <td><img src="../images/edit.png" act="editProduto" width="16" height="16" alt="Editar" idProduto="{{p.id}}" style="cursor: pointer;"></td>
                        {% endif %}
                        <td id="codigo_{{ p.id }}">
                            {{p.id}}
                            
                            {% if (p.estoque == 0) %}
                                <input type="hidden" id="estoquezero_{{ p.id }}" name="estoquezero" value="1" />
                            {% else %}
                                <input type="hidden" id="estoquezero_{{ p.id }}" name="estoquezero" value="0" />
                            {% endif %}
                            
                            {% if (p.previsao|date("d/m/Y") == "31/12/2037") %}
                                <input type="hidden" id="produto_ativo_{{ p.id }}" name="produto_ativo" value="0" />
                            {% else %}
                                <input type="hidden" id="produto_ativo_{{ p.id }}" name="produto_ativo" value="1" />
                            {% endif %}
                        </td>
                        <td id="nome_{{ p.id }}">{{p.nome}}</td>
                        <td id="categoria_{{ p.id }}">{{p.categoria}}</td>
                        <td id="unidade_{{ p.id }}">{{p.unidade}}</td>
                        <td id="produtor_{{ p.id }}">{{p.produtor}}</td>
                        <td id="previsao_{{ p.id }}">
                            {% if (p.previsao|date("d/m/Y") == "31/12/2037") %}
                                Indisponível
                            {% else %}
                                {{p.previsao|date("d/m/Y")}}
                            {% endif %}
                        </td>
                        <td id="preco_produtor_{{ p.id }}">R${{p.preco_produtor|number_format(2,",",".")}}</td>
                        <td id="preco_{{ p.id }}">R${{p.preco|number_format(2,",",".")}}</td>
                        <td id="preco_lojinha_{{ p.id }}">R${{p.preco_lojinha|number_format(2,",",".")}}</td>
                        <td id="preco_pre_{{ p.id }}">R${{p.preco_pre|number_format(2,",",".")}}</td>
                        <td id="preco_mercado_{{ p.id }}">R${{p.preco_mercado|number_format(2,",",".")}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="cabecalho_entregas">Não há produtos cadastrados</span>
    {% endif %}
    <script>
        $(document).ready(function(){
            /*$("#filtro").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tabela_produtos tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });*/
            
            //impede que estoque zero/estoque não zero sejam ativados simultaneamente
            $("#filtro_estoquezero, #filtro_estoquenaozero").on("click", function() {
                if ($(this).prop('name') == 'filtro_estoquezero') {
                    if ($(this).prop('checked')) {
                        $("#filtro_estoquenaozero").prop('checked', false);
                    }
                } else {
                    if ($(this).prop('checked')) {
                        $("#filtro_estoquezero").prop('checked', false);
                    }
                }
            });
            
            //impede que apenas ativos/apenas inativos sejam ativados simultanemanete
            $("#filtro_apenasativos, #filtro_apenasinativos").on("click", function() {
                if ($(this).prop('name') == 'filtro_apenasativos') {
                    if ($(this).prop('checked')) {
                        $("#filtro_apenasinativos").prop('checked', false);
                    }
                } else {
                    if ($(this).prop('checked')) {
                        $("#filtro_apenasativos").prop('checked', false);
                    }
                }
            });
            
            //filtro
            $("#filtro, #filtro_estoquezero, #filtro_estoquenaozero, #filtro_apenasativos, #filtro_apenasinativos").on("keyup click", function() {
                var value = $("#filtro").val().toLowerCase();
                var estoquezero = $("#filtro_estoquezero").prop('checked');
                var estoquenaozero = $("#filtro_estoquenaozero").prop('checked');
                var apenasativos = $("#filtro_apenasativos").prop('checked');
                var apenasinativos = $("#filtro_apenasinativos").prop('checked');
                
                if (apenasativos) {
                    valorFiltroAtivoInativo=true;
                } else {
                    valorFiltroAtivoInativo=false;
                }
                
                $("#tabela_produtos tr").filter(function() {
                    checkedAtivo = $(this).find('td input[name=produto_ativo]').val() == "1";
                    if (apenasativos || apenasinativos) {
                        ativo = checkedAtivo == valorFiltroAtivoInativo;
                    } else {
                        ativo = true;
                    }
                    if (estoquezero || estoquenaozero) {
                        if (estoquezero) { flagEstoqueZero = 1; } else { flagEstoqueZero = 0; }
                        estoque = $(this).find('td input[name="estoquezero"]').val() == flagEstoqueZero;
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 && estoque && ativo);
                    } else {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 && ativo);
                    }
                });
            });

            dialog = $("#popup").dialog({
                autoOpen: false,
                height: 600,
                width: 600,
                modal: true,
            });
          
            $("[act=editProduto]").click(function() {
                $("#popup").html("Aguarde, carregando...");
                idProduto = $(this).attr("idProduto");
                $.ajax({
                    method: "GET",
                    url: "editar_produtos_act.php",
                    data: { id: idProduto }
                    })
                    .done(function( msg ) {
                        //alert( "Data Saved: " + msg );
                        $("#popup").html(msg);
                    });
                dialog.dialog("open");
            });

            $("#novo_produto").click(function() {
                $("#popup").html("Aguarde, carregando...");
                $.ajax({
                    method: "GET",
                    url: "editar_produtos_act.php",
                    })
                    .done(function( msg ) {
                        //alert( "Data Saved: " + msg );
                        $("#popup").html(msg);
                    });
                dialog.dialog("open");
            });            

            //form edição de produtos
            // $("#formEditarProduto").submit(function(e) {
            //     console.log("entrou");
            //     e.preventDefault(); // avoid to execute the actual submit of the form.

            //     var form = $(this);
            //     var url = form.attr('action');

            //     $.ajax({
            //         type: "POST",
            //         url: url,
            //         data: form.serialize(), // serializes the form's elements.
            //         success: function(data) {
            //             alert(data); // show response from the php script.
            //         }
            //     });
            // });
        });
    </script>
{% endblock content %}