{% extends "index.html" %}

{% block content %}
    <div class="input-group mb-2 mr-sm-2">
        <button type="button" class="btn btn-success" id="novo_produto" name="novo_produto" placeholder="Cadastrar Produto">Cadastrar Novo Produto</button>
    </div>
    <div id="popup" title="Editar Produto" style="display: none;">
        <p>Aguarde, carregando...</p>
    </div>
    {% if conteudo %}
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Filtro</div>
            </div>
            <input type="text" class="form-control" id="filtro" name="Filtro" placeholder="Procure por produto, produtor ou categoria">
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    {% if level_user >= level_write %}
                        <th>&nbsp;</th>
                    {% endif %}
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>Unidade</th>
                    <th>Produtor</th>
                    <th>Disponível Desde</th>
                    <th>Produtor</th>
                    <th>Comboio</th>
                    <th>Consumidor Consciente</th>
                    <th>Pré Comunidade</th>
                    <th>Livre Mercado</th>
                </tr>
            </thead>
            <tbody id="tabela_produtos">
                {% for p in conteudo %}
                    <tr>
                        {% if level_user >= level_write %}
                            <td><img src="../images/edit.png" act="editProduto" width="16" height="16" alt="Editar" idProduto="{{p.id}}" style="cursor: pointer;"></td>
                        {% endif %}
                        <td id="codigo_{{ p.id }}">{{p.id}}</td>
                        <td id="nome_{{ p.id }}">{{p.nome}}</td>
                        <td id="categoria_{{ p.id }}">{{p.categoria}}</td>
                        <td id="unidade_{{ p.id }}">{{p.unidade}}</td>
                        <td id="produtor_{{ p.id }}">{{p.produtor}}</td>
                        <td id="previsao_{{ p.id }}">
                            {% if (p.previsao|date("d/m/Y") == "31/12/2037") %}
                                Indisponível
                            {% else %}
                                {{p.previsao|date("d/m/Y")}}
                            {% endif %}
                        </td>
                        <td id="preco_produtor_{{ p.id }}">R${{p.preco_produtor|number_format(2,",",".")}}</td>
                        <td id="preco_{{ p.id }}">R${{p.preco|number_format(2,",",".")}}</td>
                        <td id="preco_lojinha_{{ p.id }}">R${{p.preco_lojinha|number_format(2,",",".")}}</td>
                        <td id="preco_pre_{{ p.id }}">R${{p.preco_pre|number_format(2,",",".")}}</td>
                        <td id="preco_mercado_{{ p.id }}">R${{p.preco_mercado|number_format(2,",",".")}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="cabecalho_entregas">Não há produtos cadastrados</span>
    {% endif %}
    <script>
        $(document).ready(function(){
            $("#filtro").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tabela_produtos tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            dialog = $("#popup").dialog({
                autoOpen: false,
                height: 600,
                width: 600,
                modal: true,
            });
          
            $("[act=editProduto]").click(function() {
                $("#popup").html("Aguarde, carregando...");
                idProduto = $(this).attr("idProduto");
                $.ajax({
                    method: "GET",
                    url: "editar_produtos_act.php",
                    data: { id: idProduto }
                    })
                    .done(function( msg ) {
                        //alert( "Data Saved: " + msg );
                        $("#popup").html(msg);
                    });
                dialog.dialog("open");
            });

            $("#novo_produto").click(function() {
                $("#popup").html("Aguarde, carregando...");
                $.ajax({
                    method: "GET",
                    url: "editar_produtos_act.php",
                    })
                    .done(function( msg ) {
                        //alert( "Data Saved: " + msg );
                        $("#popup").html(msg);
                    });
                dialog.dialog("open");
            });            

            //form edição de produtos
            // $("#formEditarProduto").submit(function(e) {
            //     console.log("entrou");
            //     e.preventDefault(); // avoid to execute the actual submit of the form.

            //     var form = $(this);
            //     var url = form.attr('action');

            //     $.ajax({
            //         type: "POST",
            //         url: url,
            //         data: form.serialize(), // serializes the form's elements.
            //         success: function(data) {
            //             alert(data); // show response from the php script.
            //         }
            //     });
            // });
        });
    </script>
{% endblock content %}