{% extends "index.html" %}

{% block content %}
    {% if (erro != "") %}
        <div class="alert alert-danger" role="alert">
            {{ erro }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if (sucesso != "") %}
        <div class="alert alert-success" role="alert">
            {{ sucesso }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div id="popup" title="Nova Lista" style="display: none;">
        <form id="form_novalista" name="form_novalista" method="POST" action="" class="form-inline">
            <input type="hidden" id="act_insert" name="act" value="criar_lista" />
            <input type="text" class="form-control" id="nome_lista_insert" name="nome_lista" value="" />
            <input type="submit" class="btn btn-success ml-1" value="Criar Lista" />
        </form>
    </div>
    <div class="row pt-2 pb-2">
        <div class="col-sm-9 inline">
            <form id="selecionar_lista" name="selecionar_lista" action="" method="GET" class="form-inline">
                <label for="lista_selecionada" class="pr-2">Lista de produtos: </label>
                <select class="custom-select" id="lista_selecionada" name="lista_selecionada">
                    {% if (id_lista == 0) %}
                        <option value="" selected>Selecione a lista</option>
                    {% else %}
                        <option value="">Selecione a lista</option>
                    {% endif %}
                    {% for l in listas %}
                        {% if (l.id == id_lista) %}
                            <option value="{{ l.id }}" selected>Lista {{ l.id }} - {{ l.nome_lista }}</option>
                        {% else %}
                            <option value="{{ l.id }}">Lista {{ l.id }} - {{ l.nome_lista }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" id="btn_editar_lista" class="btn btn-primary ml-1" value="Editar lista" />
                <input type="button" name="btn_apagar_lista" id="btn_apagar_lista" value="Apagar lista" class="btn btn-danger ml-1" />
                <button type="button" id="btn_abrir_lista" class="btn btn-primary ml-1">Abrir Página</button>
                <input type="button" id="btn_nova_lista" class="btn btn-primary ml-1" value="Criar Nova Lista" />
            </form>
        </div>
    </div>
    <!-- form fake para apagar listas -->
    <form style="display: none;" id="form_apagar_lista" action="" method="POST">
        <input type="hidden" id="act_update" name="act" value="apagar_lista" />
        <input type="hidden" id="deletar_lista_id" name="lista_selecionada" value="" />
    </form>
    {% if (nome_lista != "") %}
        <div class="row pb-1">
            <div class="col-sm-7">
                <form id="alterar_nome" name="alterar_nome" action="" method="POST" class="form-inline">
                    <label for="nome_lista" class="pr-2">Lista {{ id_lista }}</label>
                    <input type="hidden" id="act_update" name="act" value="editar_nome" />
                    <input type="hidden" id="idLista" name="lista_selecionada" value="{{ id_lista }}" />
                    <input type="text" class="form-control" id="nome_lista" name="nome_lista" value="{{ nome_lista }}" />
                    <input type="submit" class="btn btn-primary ml-1" value="Alterar nome" />
                </form>
            </div>
        </div>
    {% endif %}
    <div class="input-group mb-2 mr-sm-2">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="filtro_estoquezero" name="filtro_estoquezero">
          <label class="custom-control-label" for="filtro_estoquezero">Estoque zerado</label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="filtro_estoquenaozero" name="filtro_estoquenaozero">
          <label class="custom-control-label" for="filtro_estoquenaozero">Estoque não zerado</label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="filtro_apenasativos" name="filtro_apenasativos">
          <label class="custom-control-label" for="filtro_apenasativos">Apenas ativos</label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="filtro_apenasinativos" name="filtro_apenasinativos">
          <label class="custom-control-label" for="filtro_apenasinativos">Apenas inativos</label>
        </div>
        <input type="hidden" name="lista_id" id="lista_id" value="{{ id_lista }}" />
    </div>
    {% if conteudo %}
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Filtro</div>
            </div>
            <input type="text" class="form-control" id="filtro" name="Filtro" placeholder="Procure por produto, produtor ou categoria">
            <button class="btn btn-danger ml-1" id="desativar_tudo" name="desativar_tudo">Desativar tudo</button>
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Produto</th>
                    <th>Foto</th>
                    <th>Categoria</th>
                    <th>Unidade</th>
                    <th>Produtor</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody id="tabela_produtos">
                {% for p in conteudo %}
                    <tr id="linha_{{ p.id }}">
                        <td id="nome_{{ p.id }}">{{p.nome}}</td>
                        <td id="imagem_{{ p.id }}">
                            {% if (p.imagem != "") %}
                            Com foto
                            {% else %}
                            Sem foto
                            {% endif %}
                        </td>
                        <td id="categoria_{{ p.id }}">{{p.categoria}}</td>
                        <td id="unidade_{{ p.id }}">{{p.unidade}}</td>
                        <td id="produtor_{{ p.id }}">{{p.produtor}}</td>
                        <td id="label_estoque_{{ p.id }}">

                            {% if (p.estoque == 0) %}
                                <input type="hidden" id="estoquezero_{{ p.id }}" name="estoquezero" value="1" />
                            {% else %}
                                <input type="hidden" id="estoquezero_{{ p.id }}" name="estoquezero" value="0" />
                            {% endif %}
                            <div class="custom-control custom-switch">
                                {% if level_user >= level_write %}
                                    <input type="checkbox" id_produto="{{ p.id }}" class="custom-control-input" id="produto_ativo_{{ p.id }}" name="produto_ativo"
                                        {% if (p.ativo == 1) %}
                                        {{ 'checked' }}
                                        {% endif %}
                                    >
                                {% else %}
                                    <input type="checkbox" id_produto="{{ p.id }}" class="custom-control-input" id="produto_ativo_{{ p.id }}" name="produto_ativo" disabled="disabled" />
                                {% endif %}
                                <label class="custom-control-label" for="produto_ativo_{{ p.id }}"></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="cabecalho_entregas">Não há produtos cadastrados</span>
    {% endif %}
    <script>
        $(document).ready(function(){
            dialog = $("#popup").dialog({
                autoOpen: false,
                height: 150,
                width: 400,
                modal: true,
            });
            $("#btn_nova_lista").click(function() {
                dialog.dialog("open");
            });
            
            //impede que estoque zero/estoque não zero sejam ativados simultaneamente
            $("#filtro_estoquezero, #filtro_estoquenaozero").on("click", function() {
                if ($(this).prop('name') == 'filtro_estoquezero') {
                    if ($(this).prop('checked')) {
                        $("#filtro_estoquenaozero").prop('checked', false);
                    }
                } else {
                    if ($(this).prop('checked')) {
                        $("#filtro_estoquezero").prop('checked', false);
                    }
                }
                console.log($(this).prop('checked'));
            });
            
            //impede que apenas ativos/apenas inativos sejam ativados simultanemanete
            $("#filtro_apenasativos, #filtro_apenasinativos").on("click", function() {
                if ($(this).prop('name') == 'filtro_apenasativos') {
                    if ($(this).prop('checked')) {
                        $("#filtro_apenasinativos").prop('checked', false);
                    }
                } else {
                    if ($(this).prop('checked')) {
                        $("#filtro_apenasativos").prop('checked', false);
                    }
                }
                console.log($(this).prop('checked'));
            });
            
            $("#filtro, #filtro_estoquezero, #filtro_estoquenaozero, #filtro_apenasativos, #filtro_apenasinativos").on("keyup click", function() {
                var value = $("#filtro").val().toLowerCase();
                var estoquezero = $("#filtro_estoquezero").prop('checked');
                var estoquenaozero = $("#filtro_estoquenaozero").prop('checked');
                var apenasativos = $("#filtro_apenasativos").prop('checked');
                var apenasinativos = $("#filtro_apenasinativos").prop('checked');
                
                if (apenasativos) {
                    valorFiltroAtivoInativo=true;
                } else {
                    valorFiltroAtivoInativo=false;
                }
                
                $("#tabela_produtos tr").filter(function() {
                    if (apenasativos || apenasinativos) {
                        ativo = $(this).find('td input[name=produto_ativo]').prop('checked') == valorFiltroAtivoInativo;
                    } else {
                        ativo = true;
                    }
                    if (estoquezero || estoquenaozero) {
                        if (estoquezero) { flagEstoqueZero = 1; } else { flagEstoqueZero = 0; }
                        estoque = $(this).find('td input[name="estoquezero"]').val() == flagEstoqueZero;
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 && estoque && ativo);
                    } else {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 && ativo);
                    }
                });
            });
            $("#btn_apagar_lista").click(function() {
                idLista = $("#lista_selecionada").val();
                if (idLista == "") {
                    alert("Selecione uma lista para apagar");
                } else {
                    if (window.confirm("Deseja realmente apagar a lista?")) {
                        $("#deletar_lista_id").val(idLista)
                        $("#form_apagar_lista").submit();
                    }
                }
            });
            $("[name=produto_ativo]").on("click", function() {
                idProduto = $(this).attr("id_produto");
                idLista = $("#lista_id").val();
                if ($(this).prop('checked')) {
                    ativo = 1;
                } else {
                    ativo = 0;
                }
                console.log("editar_listas_act.php?idProduto=" + idProduto + "&ativo=" + ativo + "&idLista=" + idLista);
                $.ajax({
                    method: "GET",
                    url: "editar_listas_act.php?idProduto=" + idProduto + "&ativo=" + ativo + "&idLista=" + idLista,
                })
                .done(function(msg) {
                    if (msg == "ok") {
                        $("#linha_"+idProduto).stop().css("background-color", "#3a7d2d").animate({ backgroundColor: "#FFFFFF"}, 1500);

                    } else {
                        alert(msg);
                        $("#linha_"+idProduto).stop().css("background-color", "#cf0437").animate({ backgroundColor: "#FFFFFF"}, 1500);
                    }
                });
            });
            
            $("#desativar_tudo").on("click", function() {
                listaDesc = $("#lista_selecionada option:selected").text();
                idLista = $("#lista_selecionada").val();
                if (confirm("Deseja realmente desativar todos os produtos da lista '" + listaDesc + "'?")) {
                    $.ajax({
                        method: "GET",
                        url: "editar_listas_act.php?act=resetar&idLista=" + idLista
                    })
                    .done(function(msg) {
                        if (msg == "ok") {
                            alert('Produtos desativados. A página será recarregada.');
                            location.href = "editar_listas.php?lista_selecionada=" + idLista
                        } else {
                            alert(msg);
                        }
                    });
                    
                }
            });
            
            $("#btn_abrir_lista").on("click", function() {
                window.open('http://www.livresbs.com.br/produtos/'+$("#lista_selecionada").val());
            });
            
            /*$("#salvar_tudo").on("click", function() {
                //$("input[name=estoque]").each(function(index) {
                //  console.log(index + ": " + $(this).val());
                //});
                var estoque = $("input[name=estoque]").map(function() { return this.value; }).get().join('@');
                var id = $("input[name=id]").map(function() { return this.value; }).get().join('@');
                console.log(id);
                console.log(estoque);
                $.ajax({
                    method: "GET",
                    url: "estoque_act.php?idProduto=" + id + "&estoque=" + estoque,
                    })
                .done(function(msg) {
                    if (msg == "ok") {
                        alert("Dados salvos");
                    } else {
                        alert(msg);
                    }
                });
            });*/
        });
        var notLocked = true;
        $.fn.animateHighlight = function(highlightColor, duration) {
            var highlightBg = highlightColor || "#FFFF9C";
            var animateMs = duration || 1500;
            var originalBg = this.css("backgroundColor");
            if (notLocked) {
                notLocked = false;
                this.stop().css("background-color", highlightBg)
                    .animate({backgroundColor: originalBg}, animateMs);
                setTimeout( function() { notLocked = true; }, animateMs);
            }
        };
    </script>
{% endblock content %}