/Consumidor/*.pdf
.htaccess
/Consumidor/log.txt
/Painel/log*.txt
/Painel/log_estoque.txt
/Variavel/log.txt
/_app/Config.inc.php
/classes/db_info.php
config.php
/config/Database.php
/cadastro/log.txt
/bot
/pdv