<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <!-- Layout geral -->
    <!-- https://www.bootdey.com/snippets/view/Shop-Product-List -->
    <!-- lista de produtos -->
    <!-- https://www.bootdey.com/snippets/view/Box-Product-List -->
    <title>Livres BS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/81e3d3f323.js" crossorigin="anonymous"></script>
    <base href="{{ base_url }}" />
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="../../../produtos/catalogo-produtos.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div class="list-group">
                <a href="./{{ lista }}/todos/{{ordem}}" class="list-group-item">Todos</a>
                {% for c in categorias %}
                    <a href="{{ lista }}/{{ c.Categoria }}/{{ordem}}" class="list-group-item">{{ c.Categoria }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-7">
                    <img src="icon-livremercado.png" width="25" height="25" /> Livre mercado |
                    <img src="icon-consciente.png" width="25" height="25" /> Consumidor Consciente |
                    <img src="icon-comboio.png" width="25" height="25" /> Comboio Orgânico
                </div>
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-sort">Ordenar por:</label>
                </div>                
                <div class="col-sm-3 text-right">
                    <select id="input-sort" class="form-control">
                        {% for o in ordens %}
                            {% if o == ordem %}
                                <option value="{{ lista }}/{{ categoria }}/{{ o }}" selected="selected">{{ o }}</option>
                            {% else %}
                                <option value="{{ lista }}/{{ categoria }}/{{ o }}">{{ o }}</option>
                            {% endif %}
                        {% endfor %}
                  </select>
                </div>

                <!-- card produto -->
                {% for p in produtos %}
                    {% if p.preco_mercado > 0 %}
                        <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                        	<div class="box-product">
                        		<div class="img-wrapper">
                        			<a href="#">
                    			    {% if (p.imagem != "") %}
                    				    <img alt="Product" src="../{{ p.imagem }}">
                    				{% else %}
                    				    <img alt="Product" src="../images/produtos/padrao.png">
                    				{% endif %}
                        			</a>
                        			<div class="tags">
                        				<span class="label-tags"><span class="label label-info">{{ p.produtor }}</span></span>
                        				<span class="label-tags"><span class="label label-danger">{{ p.categoria }}</span></span>
                        			</div>
                        			<!-- HTML para exibir opções ao passar mouse em cima da foto -->
                        			<!--<div class="option">
                        				<a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                        				<a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                        				<a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        			</div>-->
                        		</div>
                        		<h6><a href="detail.html">{{ p.nome }}</a></h6>
                        		<div class="price">
                        			<div><img src="icon-livremercado.png" width="25" height="25" /> R${{p.preco_mercado|number_format(2,",",".")}}</div>
                        			<div><img src="icon-consciente.png" width="25" height="25" /> R${{p.preco_lojinha|number_format(2,",",".")}}</div>
                        			<div><img src="icon-comboio.png" width="25" height="25" /> R${{p.preco|number_format(2,",",".")}}<span class="price-down">-{{(100 - p.preco*100//p.preco_mercado)|number_format(0,",",".")}}%</span></div>
                        		</div>
                        	</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#input-sort").on('change', function() {
        window.location.href = $(this).val();
    });
</script>
</body>
</html>